            body{  
                background: #42413C ;  
                margin: 0;/*消除body中的留白*/  
                padding: 0;  
                text-align: center;  
            }  
              
            .container{  
                width: 80%;  
                background: #FFF;  
                margin: 0 auto;/*侧边的自动值与宽度结合使用，可以将布局居中对齐*/  
                text-align: left;  
            }  
              
            .header{  
                padding: 10px 0;  
                background: #ADB96E;  
            }  
              
            .sidebar{  
                float: left;/*侧边栏居左，改为right可令侧边栏居右*/  
                width: 20%;  
                background: #a4f;  
            }  
              
            .maincontent{  
                float: right;
                width: 80%; 
                background: #eee;  
            }  
              
            .footer{  
                clear: both;/*清除前后的浮动元素，使页脚显示在其下方*/  
                position: relative;/*修改IE浏览器中clear无效的bug*/  
                padding: 10px 0;  
                background: #CCC49F;  
            }  
